:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  /* ---------------------------------------------------------------------
     PRIMITIVES
     -------------------------------------------------------------------- */

  /* ---------------------
     COLOR
     --------------------- */

  /* ----- PURPLE ----- */

  --color-purple-50: #f4f3ff;
  --color-purple-100: #ebe9fe;
  --color-purple-200: #d9d6fe;
  --color-purple-300: #bdb4fe;
  --color-purple-400: #9b8afb;
  --color-purple-500: #7a5af8;
  --color-purple-600: #6938ef;
  --color-purple-700: #5925dc;
  --color-purple-800: #4a1fb8;
  --color-purple-900: #3e1c96;
  --color-purple-950: #27115f;

  /* ----- BLUE ----- */
  --color-blue-50: #eff8ff;
  --color-blue-100: #d1e9ff;
  --color-blue-200: #b2ddff;
  --color-blue-300: #84caff;
  --color-blue-400: #53b1fd;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;
  --color-blue-800: #1849a9;
  --color-blue-900: #194185;
  --color-blue-950: #102a56;

  /* ----- GREEN ----- */
  --color-green-50: #edfcf2;
  --color-green-100: #d3f8df;
  --color-green-200: #aaf0c4;
  --color-green-300: #73e2a3;
  --color-green-400: #3ccb7f;
  --color-green-500: #16b364;
  --color-green-600: #099250;
  --color-green-700: #087443;
  --color-green-800: #095c37;
  --color-green-900: #084c2e;
  --color-green-950: #052e1c;

  /* ----- ORANGE ----- */
  --color-orange-50: #fffaeb;
  --color-orange-100: #fef0c7;
  --color-orange-200: #fedf89;
  --color-orange-300: #fec84b;
  --color-orange-400: #fdb022;
  --color-orange-500: #f79009;
  --color-orange-600: #dc6803;
  --color-orange-700: #b54708;
  --color-orange-800: #93370d;
  --color-orange-900: #7a2e0e;
  --color-orange-950: #4e1d09;

  /* ----- RED ----- */
  --color-red-50: #fef3f2;
  --color-red-100: #fee4e2;
  --color-red-200: #fecdca;
  --color-red-300: #fda29b;
  --color-red-400: #f97066;
  --color-red-500: #f04438;
  --color-red-600: #d92d20;
  --color-red-700: #b42318;
  --color-red-800: #912018;
  --color-red-900: #7a271a;
  --color-red-950: #55160c;

  /* ----- GRAY ----- */

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e9eaeb;
  --color-gray-300: #d5d7da;
  --color-gray-400: #a4a7ae;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-800: #252b37;
  --color-gray-900: #181d27;
  --color-gray-950: #0a0d12;

  /* ----- SLATE ----- */
  --color-slate-50: #f9f9fb;
  --color-slate-100: #eff1f5;
  --color-slate-200: #dcdfea;
  --color-slate-300: #b9c0d4;
  --color-slate-400: #7d89b0;
  --color-slate-500: #5d6b98;
  --color-slate-600: #4a5578;
  --color-slate-700: #404968;
  --color-slate-800: #30374f;
  --color-slate-900: #111322;
  --color-slate-950: #0e101b;

  /* ----- FOUNDATION ----- */

  --color-white: #ffffff;
  --color-black: #000000;

  /* ---------------------
     SCALE
     --------------------- */

  --spacing-0: 0px;
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-72: 72px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-128: 128px;
  --spacing-256: 256px;
  --spacing-512: 512px;

  /* ---------------------------------------------------------------------
     SEMANTIC
     -------------------------------------------------------------------- */

  /* ---------------------
     COLOR
     --------------------- */

  /* ===== BACKGROUND ===== */
  --color-bg-default: var(--color-white);
  --color-bg-subtle: var(--color-gray-50);
  --color-bg-muted: var(--color-gray-100);
  --color-bg-hover: var(--color-gray-100);
  --color-bg-disabled: var(--color-gray-100);
  --color-bg-inverse: var(--color-gray-900);

  --color-bg-brand: var(--color-purple-600);
  --color-bg-brand-hover: var(--color-purple-700);
  --color-bg-brand-subtle: var(--color-purple-50);
  --color-bg-brand-active: var(--color-purple-800);

  --color-bg-error: var(--color-red-600);
  --color-bg-error-hover: var(--color-red-700);
  --color-bg-error-subtle: var(--color-red-50);
  --color-bg-error-active: var(--color-red-800);
  --color-bg-success-subtle: var(--color-green-50);
  --color-bg-warning-subtle: var(--color-orange-50);

  /* ===== TEXT ===== */
  --color-text-default: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-700);
  --color-text-tertiary: var(--color-gray-600);
  --color-text-placeholder: var(--color-gray-500);
  --color-text-disabled: var(--color-gray-400);
  --color-text-inverse: var(--color-white);
  --color-text-on-brand: var(--color-white);

  --color-text-brand: var(--color-blue-700);
  --color-text-error: var(--color-red-700);
  --color-text-success: var(--color-green-700);
  --color-text-warning: var(--color-orange-700);

  /* ===== BORDER ===== */
  --color-border-default: var(--color-gray-200);
  --color-border-strong: var(--color-gray-300);
  --color-border-disabled: var(--color-gray-200);
  --color-border-brand: var(--color-blue-600);
  --color-border-error: var(--color-red-500);
  --color-border-success: var(--color-green-500);
  --color-border-warning: var(--color-orange-400);
  --color-border-focus: var(--color-blue-500);

  /* ===== ICON ===== */
  --color-icon-default: var(--color-gray-600);
  --color-icon-disabled: var(--color-gray-400);
  --color-icon-brand: var(--color-blue-600);
  --color-icon-error: var(--color-red-600);
  --color-icon-success: var(--color-green-600);
  --color-icon-warning: var(--color-orange-500);

  --color-neutral-white: var(--color-white);
  --color-neutral-black: var(--color-black);

  /* ---------------------
     SCALE
     --------------------- */

  /* ----- BORDED WIDTH ----- */

  --border-width-none: var(--spacing-0);
  --border-width-sm: var(--spacing-1);
  --border-width-md: var(--spacing-2);
  --border-width-lg: var(--spacing-4);

  /* ----- BORDED RADIUS ----- */

  --border-radius-none: var(--spacing-0);
  --border-radius-sm: var(--spacing-2);
  --border-radius-md: var(--spacing-4);
  --border-radius-lg: var(--spacing-8);
  --border-radius-max: var(--spacing-512);

  /* ----- FOCUS RING ----- */

  --focus-ring-width: var(--spacing-1);
  --focus-ring-offset: var(--spacing-2);
  --focus-ring-color: var(--color-primary-600);

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

#root {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  gap: 12px;
}
